<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center>
        <main>
          <form method="post" class="bg-white mt-24 py-6 rounded-xl lg:mx-96 absolte mx-5" action="/login">
            <h1 class="text-2xl font-bold">Login Now</h1>
            <input class="mt-5 py-1 px-10 border-2 border-black rounded-xl" type="email" name="email" placeholder="Email" value="<%= locals.email %>"><br>
            <input class="mt-5 py-1 px-10 border-2 border-black rounded-xl" type="password" name="password" placeholder="Password"><br>
            <p class="error"><%= locals.message %></p>
            <button class="mt-5 py-1 px-10 text-white bg-teal-500 border-2 border-black rounded-2xl font-bold text-xl" type="submit">Log In</button>
          </form>
        </main>
      </center>
      
</body>
</html>



