<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <center>
        <h1 class="text-2xl">Hi, <%= name %></h1>
        <form method="get" action="/logout">
          <button class="mt-5 py-1 px-10 text-white bg-teal-500 border-2 border-black rounded-2xl font-bold text-xl" type="submit">Log Out</button>
        </form>
      </center>
      
</body>
</html>

